<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AgenteMaster.master.cs" Inherits="TP_Final_Benitez.AgenteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="Styles/Dashboard.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Sistema de Tickets</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Modificar mi perfil</a>
                            </li>
                            <li class="nav-item">
                                <asp:LinkButton CssClass="nav-link"  runat="server" id="btnSupervisorDashboard" OnClick="btnSupervisorDashboard_Click" >Supervisor Dashboard</asp:LinkButton>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <asp:TextBox ID="txtSearch" runat="server" CssClass="form-control me-2" Width="30%" TextMode="Search" placeholder="Buscar Ticket"></asp:TextBox>
                            <asp:Button CssClass="btn btn-outline-success" Text="Buscar" runat="server" ID="btnBuscar" OnClick="btnBuscar_Click"/>
                            <asp:Button CssClass="btn btn-outline-danger" Text="Logout" runat="server" ID="btnlogout" OnClick="btnlogout_Click"/>
                        </form>
                    </div>
                </div>
            </nav>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
